<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eatwell - Make The World A Tastier Place</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/css/shared.css" />
    <link rel="stylesheet" href="/public/css/restaurants.css" />
    <script src="/public/scripts/responsive.js" defer></script>
  </head>
  <body>
    <!-- header section -->
    <%- include('includes/header.ejs') %>
    <!-- aside section -->
    <%- include('includes/aside.ejs') %>
    <main>
      <h1>Recommended restaurants</h1>
      <% if(numbersOfRestaurants === 0) { %>
      <p>Sorry, we have no recommendations.</p>
      <% } else { %>
      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>We found <%= numbersOfRestaurants %></p>
      <!-- <%= numbersOfRestaurants %> is a special ejs syntax-->
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
        <li class="restaurant-item">
          <article>
            <h2><%= restaurant.name %></h2>
            <div class="restaurant-meta">
              <p><%= restaurant.cuisine %></p>
              <p><%= restaurant.address %></p>
            </div>
            <p><%= restaurant.description %></p>
            <div class="restaurant-actions">
              <a href="<%= restaurant.website %>">View Website</a>
            </div>
          </article>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
